.header {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header--1 a {
  color: #425d59;
  font-size: 2rem;
  padding: 0.5rem 0.25rem;

  border-radius: 7px;
}
.header--1 a:hover {
}
