.navbar {
  position: relative;
  display: flex;
}
.navbar ul {
  list-style: none;
  position: relative;
}

.navbar p a {
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

.navbar p a:hover {
  position: relative;
  color: #33dfc5;
  top: 0.5rem;
  text-decoration-line: underline;
}
