.about {
  display: flex;
  margin-top: 20px;
  margin: 0 20px;
  justify-content: space-around;
}

.about-image > img {
  width: 250px;
  border-radius: 20px;
}

@media (max-width: 650px) {
  .about {
    display: inline-block;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
}
