.home {
  height: 100vh;
  padding: 0 150px;
  align-items: center;
  position: relative;
  top: 0;
  display: flex;
}

.home-heading > h1 {
  color: #fff;
  font-size: 120px;
  opacity: 0.4;
}

.profile-image {
  width: 300px;
  border-radius: 160px;
}
