.home {
  height: 100vh;
  padding: 50px 0 0 0;
  justify-content: center;
  position: relative;
  top: 0;
  display: flex;
  padding-left: 10px;
}

.home-heading > h1 {
  color: #fff;
  font-size: 120px;
  opacity: 0.4;
  z-index: 9999;
}

.profile-image {
  width: 300px;
  border-radius: 160px;
  z-index: 2;
}

@media (max-width: 1220px) {
  .home-heading > h1 {
    font-size: 100px;
  }
}

@media (max-width: 1110px) {
  .home-heading > h1 {
    font-size: 80px;
    opacity: 0.4;
    z-index: 9999;
  }
}

@media (max-width: 980px) {
  .home-heading > h1 {
    font-size: 60px;
  }
}

@media (max-width: 710px) {
  .home-heading > h1 {
    font-size: 40px;
  }

  .profile-image {
    width: 250px;
  }
}

@media (max-width: 530px) {
  .home {
    display: block;
  }
  .home-heading > h1 {
    font-size: 30px;
  }

  .profile-image {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .home-heading > h1 {
    font-size: 20px;
  }

  .profile-image {
    width: 200px;
  }
}
