.skills {
  position: relative;
  text-align: center;
  padding: 10px 0;
}

.skills-container {
  width: 100%;
  padding-bottom: 20px;
}

.skill-collection {
  display: flex;
  justify-content: center;
}

.skill-card {
  position: relative;
  padding: 8px;
}

.skill-card > i {
  display: block;
  margin: auto;
  opacity: 0.5;
}
.skill-card > h2 {
  opacity: 0.1;
}
