.about {
  color: black;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

a {
  color: #cf2e2e;
}

@media (max-width: 500px) {
  .about {
    padding: 2em;
  }
}

@media (max-width: 470px) {
  .about {
    margin: 0 auto;
  }
}
