/* .contact {
  color: #5cdb95;
} */

.contact {
  /* background-color: white; */
  padding: 2rem;
  box-sizing: border-box;
  /* color: black; */
}

.contact-container {
  text-align: center;
  border: 1px solid #06354a;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #06354a;
}

form h3 {
  color: black;
  font-weight: 800;
  margin-bottom: 20px;
}

form label {
  float: left;
  padding-left: 20px;
}

form input,
form textarea {
  width: 80%;
  border: none;
  outline: none;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: rgb(237, 237, 208);
  border-radius: 8px;
}

.button {
  padding: 15px;
  background: #654ea3;
  color: #eaafc8;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
