/* .contact {
  color: #5cdb95;
} */

.contact {
  background-color: white;
  padding: 2rem;
  color: black;
}

.container {
  text-align: center;
}

.form {
  background: #5cbd96;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #15c07c;
  display: flex;
  flex-direction: column;
}

form h3 {
  color: black;
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 50%;
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: rgb(237, 237, 208);
}

.button {
  padding: 15px;
  background: #05386b;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
