.experience {
  /* background-color: white; */
  padding: 2rem;
  /* color: black; */
}

.experience > table {
  width: 100%;
}

th {
  color: #06354a;
}

td {
  color: #ff416c;
}
.experience > table > tr {
  padding-top: 12px;

  text-align: center;
  border-bottom: 1px solid rgb(160, 154, 154);
}

@media (max-width: 500px) {
  .experience {
    padding: 2em;
  }
}

@media (max-width: 470px) {
  .experience {
    margin: 0 auto;
  }
}
