.projects {
  /* background-color: black;
  color: white;
  background-color: #5cdb95; */
  padding: 2rem;
  padding-top: 3rem;
  color: #7aa1d2;
}

.medium-font {
  font-size: 2.5rem;
}

.projects-heading {
  background: #252525;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 48px;
  opacity: 0.9;
}

.projects-container {
  margin: 0 auto;
  width: 90%;
}

.project-card {
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.project-img {
  width: 600px;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
  padding-right: 12px;
}

.project-title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 300;
  color: #00416a;
}

.project-info {
  font-size: 16px;
  line-height: 16px;
}

.project-btn > a > button {
  padding: 15px;
  background: #7aa1d2;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
  box-shadow: 0 70px 63px -60px #000;
}

.project-btn > a button:hover {
  border: 2px solid #05386b;
  transition: color 0.3s;
  transition: all 0.5s;
}

@media (max-width: 1000px) {
  .project-img {
    width: 500px;
  }
}

@media (max-width: 870px) {
  .projects-heading {
    font-size: 32px;
  }
  .project-card {
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(65, 68, 65);
  }
}

@media (max-width: 580px) {
  .projects-container {
    width: 95%;
  }
  .project-img {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .projects-heading {
    font-size: 24px;
  }
  .project-card {
    min-height: 200px;
  }
  .project-img {
    width: 250px;
    rotate: calc(90);
  }
  .project-info {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .projects {
    padding: 2em;
  }
}

@media (max-width: 470px) {
  .projects {
    margin: 0 auto;
  }
}
