.skills {
  /* background-color: black;
  background-color: #5cdb95;
  color: white; */
  padding: 2rem;
}

.skill-holder {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-items: center;
  height: 60px;
  position: relative;
}

.skill {
  width: calc(100% - 70px);
  height: 3px;
  background-color: white;
  position: relative;
}
.skill-text {
  color: #06354a;
  font-size: 12px;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 5px;
  position: relative;
  z-index: 3;
  transform: translateY(-50%);
  top: 50%;
  left: 35px;
  vertical-align: top;
  display: inline-block;
}

.skill-fill {
  position: absolute;
  top: -30px;
  left: 0;
  width: 10%;
  height: 60px;
  transition: width 0.7s;
  background-color: #fff;
  max-width: 97%;
  z-index: 2;
}

.skill-num {
  color: #06354a;
  font-weight: 600;
}

.skill-fill-mask {
  width: 10%;
  position: absolute;
  top: -30px;
  left: 0;
  height: 60px;
  transition: width 0.7s;
  z-index: 1;
  max-width: 99%;
}

@media (max-width: 500px) {
  .skills {
    padding: 2em;
  }
}

@media (max-width: 470px) {
  .skill-text {
    color: #05386b;
  }
}
