.App {
  /* background: #c8e8e5;
  background: linear-gradient(0deg, #c8e8e5 0%, #c0c8fc 100%); */
  width: 100%;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: white;
  color: #fff;
  font-family: "Inter", sans-serif;
}

ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}
