body {
  background-color: var(--background);
}
.App {
  /* background: #c8e8e5;
  background: linear-gradient(0deg, #c8e8e5 0%, #c0c8fc 100%); */
  width: 100%;
  min-height: 100vh;
  position: relative;
  width: 100%;
  font-family: "Inter", sans-serif;
}
a {
  color: #cf2e2e;
}


::root {
  --background: #e4e5e6;
  --pink: #e55d87;
  --dark-blue: #00416a;
  --light-blue: #7aa1d2;
  --light-yellow: #dbd4b4;
  --light-orange: #edde5d;
  --dark-orange: #f09819;
}

ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}
